{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Добро пожаловать в мир обучения критерию Неймана-Пирсона!</h1>
        <h2>Общая теория</h2>
        <p>Этот метод применяется в случае, когда природа может находиться в двух состояниях и одно из них
            контролируемое. Выбирается пороговое значение \(L^{*}_{пороговое}\) все решения контролируемого столбца,
            которые выше этого порога не принимаются во внимание. На этом этапе последующее нахождение решения
            отличается для нерандомизированного и рандомизированного подходов.</p>
        <a href='{% url "tutorial:nrandom" %}' class="btn btn-outline-success btn-lg btn-block">Нерандомизированый</a>
        <a href='{% url "tutorial:random" %}' class="btn btn-outline-success btn-lg btn-block">Рандомизированый</a>
    </div>

{% endblock %}
