{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class='text-center'>
        <h3>Пример</h3>
        <h4>Условие задачи "Сборы на прогулку"</h4>
        <p>Нужно принять решение об экипировке для поездки на природу.</p>
        <p>Есть такие варианты:</p>
        <p>\(\alpha_{1}\) - одеться как можно легко</p>
        <p>\(\alpha_{2}\) - одеться легко, но взять зонт</p>
        <p>\(\alpha_{3}\) - одеться как можно теплее</p>
        <p>Возможные состояния природы</p>
        <p>\(\beta_{1}\) - солнечная погода</p>
        <p>\(\beta_{2}\) - проливной дождь</p>
        <p>Матрица потерь</p>
        \begin{pmatrix}
                          & \beta_{1} & \beta_{2} \\
            \alpha_{1} & 0              & 1              \\
            \alpha_{2} & 0,1            & 0,9            \\
            \alpha_{3} & 0,6            & 0,4            \\
        \end{pmatrix}
        <p>Предположим \(\beta_{2}\) - контролируемое состояние.</p>
        <p>
            \(L^{*}_{2}\) = 0,7
        </p>
        <img src="{% static 'img/chart5.png' %}" class='img-fluid' />
        <p>Прямая \(L^{*}_{2}\) = 0,7 пересекает полученное множество(в данной ситуации платежное множество состоит из
            прямой) в точке \((L_{1};L^{*}_{2})\), которая находится между точками \(\alpha_{2}\) b \(\alpha_{3}\).
            Составим матричное уравнение.</p>
        $$x * \begin{pmatrix} l_{21}\\ l_{22} \end{pmatrix} + (1 - x) * \begin{pmatrix} l_{31}\\ l_{32}
                \end{pmatrix} = \begin{pmatrix} L_{1}\\ L^{*}_{2} \end{pmatrix}$$

        $$x * \begin{pmatrix} 0,1\\ 0,9 \end{pmatrix} + (1 - x) * \begin{pmatrix} 0,6\\ 0,4
                \end{pmatrix} = \begin{pmatrix} L_{1}\\ 0,7 \end{pmatrix}$$
        <p>Решаем уравнение. Находим \(x\)</p>
        <p>\(0,9 * x + (1 - x) * 0,4 = 0, 7\)</p>
        <p>\(x = 0,6\)</p>
        <p>Из \(0,1 * x + (1 - x) * 0,6 = L_{1}\)</p>
        <p>\(L_{1} = 0,3\)</p>
        <p>Рандомизированное решение - \(x^{*}_{Н-П} = (0; 0,6; 0,4)\)</p>
        <a href='{% url "tutorial:random-training" %}' class="btn btn-outline-success btn-lg btn-block">Обучение</a>
    </div>

{% endblock content %}