{% extends "base.html" %}
{% load static %}

<title>Theory</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h3>Пример</h3>
        <h4>Условие задачи "Сборы на прогулку"</h4>
        <p>Нужно принять решение об экипировке для поездки на природу.</p>
        <p>Есть такие варианты:</p>
        <p>\(\alpha_{1}\) - одеться как можно легко</p>
        <p>\(\alpha_{2}\) - одеться легко, но взять зонт</p>
        <p>\(\alpha_{3}\) - одеться как можно теплее</p>
        <p>Возможные состояния природы</p>
        <p>\(\beta_{1}\) - солнечная погода</p>
        <p>\(\beta_{2}\) - проливной дождь</p>
        <p>
            Продолжая общую теорию. Пусть Задана матрица потерь L.
        </p>
        <p>Предположим \(\beta_{1}\) - контролируемое состояние.</p>
        <div align=center>
            <table class="matrix">
                <tr>
                    <td></td>
                    <td>\(\beta_{1}\)</td>
                    <td>\(\beta_{2}\)</td>
                </tr>
                <tr>
                    <td>\(\alpha_{1}\)</td>
                    <td>0</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>\(\alpha_{2}\)</td>
                    <td>0,1</td>
                    <td>0,9</td>
                </tr>
                <tr>
                    <td>\(\alpha_{3}\)</td>
                    <td>0,6</td>
                    <td>0,4</td>
                </tr>
            </table>
        </div>
        <p>
            \(L^{*}_{пороговое}\) = 0,5
        </p>
        <p>
            Вычеркиваем сроки, у которых в столбце  \(\beta_{1}\) значения больше порогового.
        </p>
        <p>
            <div align="center">
        <table class="matrix">
            <tr>
                <td></td>
                <td>\(\beta_{1}\)</td>
                <td> \(\beta_{2}\)</td>
            </tr>
        <tr>
            <td>\(\alpha_{1}\)</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>\(\alpha_{2}\)</td>
            <td>0.1</td>
            <td>0.9</td>
        </tr>
        <tr>
            <td>\(\alpha_{3}\)</td>
            <td><strike>0.6</strike></td>
            <td><strike>0.4</strike></td>
        </tr>
    </table>
    </div>
        </p>
        <p> То есть последнее решение нам не подходит. Далее выбираем то решение, которое при неконтролируемом состоянии
        природы приносит наименьшие потери. В данном примере по столбцу \(\beta_{2}\) наименьшие потери 0.9. То есть нам
        подходит решение \(\alpha_{2}\)</p>


        <a href='{% url "tutorial:training_nr" %}' class="btn btn-outline-success btn-lg btn-block">Начать обучение</a>

    </div>
{% endblock %}