{% extends "base.html" %}
{% load static %}



{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
    {% for row in matrix.matrix.all %}
        {{ row.a0 }}
        {{ row.a1 }}
        <br>
    {% endfor %}
    <form method='POST' action='{% url "tutorial:row-create" %}' class="form"> {% csrf_token %}
        <input name='a0'/>
        <input name='a1'/>
        <input type='hidden' name='matrix_id' value='{{ matrix.id }}' />
        <button type='submit'>Add row</button>
        <!--{% if product in cart.products.all %}
            In cart <button type='submit' class='btn btn-link'>Remove?</button>
        {% else %}

        {% endif %}-->
    </form>
{% endblock %}