{% extends "base.html" %}
{% load static %}

<title>Theory</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Теория для получения рандомизированного решения</h1>
        <p>Радомизированное решение представляет собой распределение вероятностей с которыми нужно принимать то или
            иное решение чтобы получить наименьшие потери по одному из критериев. В нашем случае по критерию
            Неймана-Пирсона</p>
        <p>Для удобства рассмотрения критерия предположим, что контролируемое состояние природы \(\beta_{1}\),
            а пороговое значение \(L^{*}_{1}\)</p>
        <p>Проведем прямую \(L_{1}\) = \(L^{*}_{1}\)</p>
        <p>Рассмотрим 4 варианта расположения прямой</p>
        <p>
            1) Платежное множество находится правее этой прямой. В этом случае задача не имеет решения по этом
            критерию.
        </p>
        <img src="{% static 'img/chart2.png' %}" class='img-fluid' />
        <p>
            2) Платежное множество находится левее этой прямой, тогда в качестве оптимального решения вибирается точка
            платежного множества с минимальной ординатой.
        </p>
        <img src="{% static 'img/chart3.png' %}" class='img-fluid' />
        <p>
            3) В этом случае точки платежного множества, которые > \(L^{*}_{1}\) исключаются из рассмотрения и в
            качестве оптимального решения выбираем точку с минимальной ординатой.
        </p>
        <img src="{% static 'img/chart4.png' %}" class='img-fluid' />
        <p>
            4) Точка с минимальной ординатой лежит на прямой выпуклого многоугольника. В этом случае записываем эту
            точку как выпуклую комбинацию концов отрезка с известной фисцисой и неизвестной ординатой.

            $$x * \begin{pmatrix} l_{i1}\\ l_{i2} \end{pmatrix} + (1 - x) * \begin{pmatrix} l_{j1}\\ l_{j2}
            \end{pmatrix} = \begin{pmatrix} L^{*}_{1}\\ L_{2} \end{pmatrix}$$

        </p>
        <img src="{% static 'img/chart1.png' %}" class='img-fluid' />
        <p>Таким образм из образовавшихся двух уравнений из первого находим \(x\), подставляем это значение во второе
            уравнение и находим \(L_{2}\), то есть потери.</p>



    </div>
{% endblock %}