{% extends 'base.html' %}
{% load static %}

<script>
{% block jquery %}
var endpoint = '/tutorial/api/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        var canvas = document.querySelector("canvas"),
        context = canvas.getContext("2d");

        var width = canvas.width,
            height = canvas.height;

        var randomX = d3_random.normal(width / 2, 60),
            randomY = d3_random.normal(height / 2, 60),
            points = new Array(5);

        for (var i = 0, n = points.length; i < n; ++i) points[i] = [randomX(), randomY()];

        render();

        /*window.addEventListener("mousemove", function(event) {
          var rect = canvas.getBoundingClientRect(),
              x = event.clientX - rect.left - canvas.clientLeft,
              y = event.clientY - rect.top - canvas.clientTop;

          points[0][0] = x;
          points[0][1] = y;
          render();
        });*/

        function render() {
          context.clearRect(0, 0, width, height);

          var hull = d3_polygon.hull(points);
          context.beginPath();
          context.moveTo(hull[0][0], hull[0][1]);
          for (var i = 1, n = hull.length; i < n; ++i) {
            context.lineTo(hull[i][0], hull[i][1]);
          }
          context.closePath();
          context.fillStyle = "steelblue";
          context.fill();
          context.lineWidth = 15;
          context.lineJoin = "round";
          context.strokeStyle = "steelblue";
          context.stroke();

          context.beginPath();
          for (var i = 0, n = points.length; i < n; ++i) {
            context.moveTo(points[i][0] + 2.5, points[i][1]);
            context.arc(points[i][0], points[i][1], 2.5, 0, 2 * Math.PI);
          }
          context.fillStyle = "white";
          context.fill();
          context.lineWidth = 1.5;
          context.strokeStyle = "black";
          context.stroke();
        }
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
function setChart(){



}
// var ctx = document.getElementById("myChart");
{% endblock %}
</script>

{% block content %}

<div class='text-center'>
        <h1>Раздел обучения</h1>
            <h2> Ввведите количество решений n</h2>
            <h1 style="color: red"> do not pay attention to below text now</h1>
            {% if matrix_form %}
                <h3>Задайте матрицу потерь:</h3>
                <form method="post">{% csrf_token %}
                    <div align=center>
                        <table class="matrix">
                            <tr>
                                <td>{{ matrix_form.a11 }}</td>
                                <td>{{ matrix_form.a12 }}</td>
                            </tr>
                            <tr>
                                <td>{{ matrix_form.a21 }}</td>
                                <td>{{ matrix_form.a22 }}</td>
                            </tr>
                            <tr>
                                <td>{{ matrix_form.a31 }}</td>
                                <td>{{ matrix_form.a32 }}</td>
                            </tr>
                        </table>
                    </div>
                    <h3>Выберите контролируемое состояние природы:</h3>
                    {{ matrix_form.state }}
                    <input type="submit" value="Задать" name="matrix_input"/>
                </form>
            {% else %}
                <div align=center>
                    <table class="matrix">
                        <tr>
                            <td>{{ matrix.a11 }}</td>
                            <td>{{ matrix.a12 }}</td>
                        </tr>
                        <tr>
                            <td>{{ matrix.a21 }}</td>
                            <td>{{ matrix.a22 }}</td>
                        </tr>
                        <tr>
                            <td>{{ matrix.a31 }}</td>
                            <td>{{ matrix.a32 }}</td>
                        </tr>
                    </table>
                </div>
                <h4>Контролирумое состояние: {{ matrix.controlled }}</h4>
                <br/>
                <h4>\(L^{*}_{пороговое}\) = {{ matrix.threshold }}</h4>
                <h2>Тут будет график!</h2>
            {% endif %}
            {% if exclude_rows %}
                <hr/>
                <form method="post">{% csrf_token %}
                    <h3>Какие строки не учавствуют в выборе решения?</h3>
                    <p>{{ exclude_rows.row1 }} Строка 1</p>
                    <p>{{ exclude_rows.row2 }} Строка 2</p>
                    <p>{{ exclude_rows.row3 }} Строка 3</p>
                    <input type="submit" value="Ввод" name="exclude_rows" />
                </form>
                {% if message1 %}
                    <h5 style="{{ color }}">{{ message1 }}</h5>
                {% endif %}
            {% endif %}
            {% if answer %}
                <hr>
                <form method="post">{% csrf_token %}
                        <h3>Выберите решение:</h3>
                        <p>{{ answer.row1 }} \(\alpha_{1}\)</p>
                        <p>{{ answer.row2 }} \(\alpha_{2}\)</p>
                        <p>{{ answer.row3 }} \(\alpha_{3}\)</p>
                        <input type="submit" value="Ввод" name="answer" />
                </form>
                {% if message2 %}
                    <h5 style="{{ color }}">{{ message2 }}</h5>
                {% endif %}
            {% endif %}
            {% if losses %}
                <hr>
                <form method="post">{% csrf_token %}
                        <h3>Введите значение потерь:</h3>
                        <p>{{ losses.case_losses }}</p>
                        <input type="submit" value="Ввод" name="losses" />
                </form>
                {% if message3 %}
                    <h5 style="{{ color }}">{{ message3 }}</h5>
                {% endif %}
            {% endif %}


    </div>

{% endblock content %}