{% extends "base.html" %}
{% load static %}

<title>Theory</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Раздел обучения</h1>
        <p>

            <!--Введите количество решений


            <form method='POST' action='' class="form">{% csrf_token %}
              <div class='input-group col-md-3' >
                <input class="form-control" type="number" name='rows_number'>
                <button class="btn btn-outline-success" type="submit">Ввод</button>
              </div>
            </form> -->
            {% if matrix %}
            Задайте матрицу потерь:
            <form method="post">{% csrf_token %}
                <div align=center>
                    <table class="matrix">
                        <tr>
                            <td>{{ matrix.a11 }}</td>
                            <td>{{ matrix.a12 }}</td>
                        </tr>
                        <tr>
                            <td>{{ matrix.a21 }}</td>
                            <td>{{ matrix.a22 }}</td>
                        </tr>
                        <tr>
                            <td>{{ matrix.a31 }}</td>
                            <td>{{ matrix.a32 }}</td>
                        </tr>
                    </table>
                </div>
                Выберите контролируемое состояние природы:
                {{ matrix.state }}
                <input type="submit" value="Ввод" name="matrix"/>
            </form>
        {% else %}
            <div align=center>
                    <table class="matrix">
                        <tr>
                            <td>{{ a11 }}</td>
                            <td>{{ a12 }}</td>
                        </tr>
                        <tr>
                            <td>{{ a21 }}</td>
                            <td>{{ a22 }}</td>
                        </tr>
                        <tr>
                            <td>{{ a31 }}</td>
                            <td>{{ a32 }}</td>
                        </tr>
                    </table>
            </div>
            Контролирумое состояние: {{ controlled }}
            <p>
                \(L^{*}_{пороговое}\) = {{ threshold }}
            </p>
            <p>
                {% endif %}
                {% if exclude_rows %}
                Какие строки не учавствуют в выборе решения?
                <form method="post">{% csrf_token %}
                    <p>{{ exclude_rows.row1 }} Строка 1</p>
                    <p>{{ exclude_rows.row2 }} Строка 2</p>
                    <p>{{ exclude_rows.row3 }} Строка 3</p>
                    <input type="submit" value="Ввод" name="exclude_rows" />
                </form>
            </p>
            {% if message %}
                {{ message}}
            {% endif %}
        {% endif %}
        {% if right_answer %}
            <form method="post">{% csrf_token %}
                    <p>{{ right_answer.alpha_number }}</p>
                <p>{{ right_answer.alpha_number2 }}</p>
                    <input type="submit" value="Ввод" name="right_answer" />
                </form>
        {% endif %}


    </div>
{% endblock %}