<div align=center>
    <h3>Выберите контролируемое состояние природы:</h3>
    <form method='POST' action='{% url "tutorial:state-update" %}' class="form"> {% csrf_token %}
        {% if matrix.controlled_state == "0" %}
            <br>
            <input name="state" type="radio" value="beta1" checked>\(\beta_{1}\)
            <br>
            <br>
            <input name="state" type="radio" value="beta2">\(\beta_{2}\)
            <br>
            <br>
        {% elif matrix.controlled_state == "1" %}
            <input name="state" type="radio" value="beta1">\(\beta_{1}\)
            <br>
            <br>
            <input name="state" type="radio" value="beta2" checked>\(\beta_{2}\)
            <br>
            <br>
        {% else %}
            <input name="state" type="radio" value="beta1">\(\beta_{1}\)
            <br>
            <br>
            <input name="state" type="radio" value="beta2">\(\beta_{2}\)
            <br>
            <br>
        {% endif %}
        <button type='submit' class='btn' style="cursor: pointer;">Выбрать состояние</button>
    </form>
</div>